<link href="/Resources/Styles/game-basic.css" rel="stylesheet" />
<div class="game"><!--
 --><preloader class="disabled">
        <div class="preloader-wrapper">
            <img class="preloader-logo" src="/Resources/Images/Interface/Elements/logo-full-white.png" alt="" />
            <div class="preloader-indicator-wrapper">
                <div class="preloader-indicator"></div>
            </div>
        </div>
    </preloader><!--
 --><cache id="game-cache-element">

    </cache><!--
 --><div class="game-content"><!--
        Game canvaces
      --><div id="content"><!--
     --><canvas id="game-canvas-background" width="800" height="450"></canvas><!--
     --><canvas id="game-canvas-objects" width="800" height="450"></canvas><!--
     --></div><!--
 --></div>
</div>
<!-- TODO: change resource loader to game entry point -->
<script data-main="/Resources/Scripts/Game/Cache/resource-loader" src="/Resources/Scripts/Vendors/require.js"></script>