<div class="game-join">
    <h1 class="title">Join a game</h1>

    <form>
        <div class="row">
            <p class="option-title">Game name:</p>
            <input class="howl-hover-light" type="text" name="game-select" value="" readonly="readonly" placeholder="Choose for change"
                   data-gamepad-navigation-namespace="menu"
                   data-gamepad-navigation-type="select"
                   data-gamepad-navigation-order="1" 
                   data-options="Game1,Game2,Game3" />
        </div>
        <div class="row clear-container">
            <button class="navigation-link submit-link howl-hover howl-next" type="submit" name="game-select"
                   data-gamepad-navigation-namespace="menu"
                   data-gamepad-navigation-type="button"
                   data-gamepad-navigation-order="2" >Join</button>
        </div>
    </form>
</div>    