<div class="game-new">
    <h1 class="title">Create a new game</h1>

    <form>
        <div class="row">
            <p class="option-title">Game name:</p>
            <input type="text" class="game-name" name="game-name" value="" placeholder="Enter game name..." 
                data-gamepad-navigation-namespace="menu"
                data-gamepad-navigation-type="text"
                data-gamepad-navigation-order="1"/>
        </div>
        <div class="row">
            <p class="option-title">Game mode:</p>
            <input type="text" name="game-modes" value="" readonly="readonly" placeholder="Choose for change"
                data-gamepad-navigation-namespace="menu"
                data-gamepad-navigation-type="select"
                data-gamepad-navigation-order="2"
                data-options="Deathmatch,Team Deathmatch,Capture the Flag"/>
        </div>
        <div class="row">
            <p class="option-title">Game map:</p>
            <input type="text" name="game-modes" value="" readonly="readonly" placeholder="Choose for change"
                   data-gamepad-navigation-namespace="menu"
                   data-gamepad-navigation-type="select"
                   data-gamepad-navigation-order="3"
                   data-options="Rising-Sun,Deck 16,Koos Galleon" />
        </div>
        <div class="row">
            <p class="option-title">Players count:</p>
            <input type="range" name="players-count" min=2 max=4 step="1" 
                data-gamepad-navigation-namespace="menu"
                data-gamepad-navigation-type="range"
                data-gamepad-navigation-order="4"/>
        </div>
        <div class="row clear-container">
            <button class="navigation-link submit-link" type="submit" name="game-create"
                data-gamepad-navigation-namespace="menu"
                data-gamepad-navigation-type="button"
                data-gamepad-navigation-order="5">Create</button>
        </div>
    </form>
</div>