<div class="game-start">

    <a class="navigation-link navigation-submenu title"
       ng-click="click()"
       ng-href="#/join"
       data-gamepad-navigation-namespace="menu"
       data-gamepad-navigation-type="button"
       data-gamepad-navigation-order="1">Join a game</a>

    <a class="navigation-link navigation-submenu title"
       ng-click="click()"
       ng-href="#/new"
       data-gamepad-navigation-namespace="menu"
       data-gamepad-navigation-type="button"
       data-gamepad-navigation-order="2">Create a new game</a>

    <a class="navigation-link navigation-submenu title"
       ng-click="click()"
       ng-href="#/input"
       data-gamepad-navigation-namespace="menu"
       data-gamepad-navigation-type="button"
       data-gamepad-navigation-order="3">Gamepad input</a>

    <a class="navigation-link navigation-submenu title"
       ng-click="click()"
       ng-href="#/settings"
       data-gamepad-navigation-namespace="menu"
       data-gamepad-navigation-type="button"
       data-gamepad-navigation-order="4">Settings</a>
</div>
<style>
    .back-link {
        visibility: hidden;
    }
</style>