body, .page-wrapper, .content, .content-wrapper {
    background: none;
    background-position: 0 0;
    min-height: initial;
    padding: 0;
}

.back-link {
    display: none;
}

#game-cache-element {
    display: none;
}
